// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/**

  Alterações de visual são feitas aqui,
  no terminal dar npm run dev.
   o ficheiro é depois compilado para public/css/app.css



 */
#admin-page{

    padding-top: 0px; // Serve para tirar o espaçamento que existe na parte de cima da pagina do administrador


}

#nested-comment{

    margin-top: 60px;
}

.comment-reply{

    display: none;

}

.comments-replies{

    display: none;

}

.toggle-reply{

    margin-top: 30px;
}

